.logo__web {
    color: #2196f3;
    text-decoration: none;

    font-family: 'Raleway';
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;
    letter-spacing: 0.03em;
}

.header .logo__web {
    padding-top: 24px;
    padding-bottom: 25px;

    display: inline-block;
}

.logo__studio {
    color: #000000;
}