/* скидання деяких налаштувань списків та посилань */
ul,
ol {
    list-style: none;
}

a {
    text-decoration: none;
    color: currentColor;
}

/* скидаємо MARGIN де це потрібно */
ul,
p,
h1,
h2,
h3 {
    margin: 0;
    padding: 0;
}

/* Для картинок прибираємо нижній просвіт */
img {
    display: block;
    max-width: 100%;
    height: auto;
}
.section{
    @media screen and (max-width: 1199px) {
        padding-top: 60px;
        padding-bottom: 60px;
    }
    padding-top: 60px;
        padding-bottom: 60px;

}
