@mixin transit($property...) {
  transition-property: $property;
  transition-duration: $primary-duration;
  transition-timing-function: $timing-function;
}

// @mixin title-section() {
//   margin-top: 0;
//   margin-bottom: 30px;
//   color: $title-text-color;
//   font-weight: $title-font-weight;
//   font-size: $title-font-size-mob;
//   line-height: 1.17;
//   text-align: center;
// }

@mixin title-block($color) {
  color: $color;
  font-weight: $title-font-weight;
  font-size: $main-font-size;
  line-height: 1.14;
  text-transform: uppercase;
}

@mixin bordered($color) {
  border: 1px solid $color;
}
