$primary-text-color: #757575;
$title-text-color: #212121;
$accent-color: #2196f3;
$primary-white-color: #ffffff;
$black-color: #000000;
$text-footer: rgba(255, 255, 255, 0.6);
$secondary-bg-color: #f5f4fa;
$primary-fill-color: #afb1b8;
$footer-bg-color: #2f303a;
$network-bg-color: rgba(255, 255, 255, 0.1);
$border-project-color: #eeeeee;

$main-font: roboto, sans-serif;
$secondary-font: raleway, sans-serif;
$secondary-font-size: 12px;
$main-font-size: 14px;
$logo-font-size: 26px;
$hero-font-size: 44px;
$title-form-size: 20px;
$tel-font-size-mob: 34px;
$mail-font-size-mob: 24px;
$button-team-project-font-size: 16px;
$title-font-size: 36px;
$title-font-size-mob: 28px;
$menu-font-size-mob: 40px;
$title-project-font-size: 18px;
$primary-font-weight: 400;
$secondary-font-weight: 500;
$title-font-weight: 700;
$hero-title-font-weight: 900;

$timing-function: cubic-bezier(0.4, 0, 0.2, 1);
$border-radius-button: 4px;
$primary-duration: 250ms;
$button-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
